# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build Results
*.exe
*.dll
*.pdb
!Setup/Output/*.exe

# NuGet Packages
*.nupkg
packages/
.nuget/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/
*.sln.iml

# Application specific
config.json
*.rfa
Logs/

# Inno Setup Output
Setup/Output/*.exe
!Setup/Output/.gitkeep

# Temporary files
*.bak
*.swp
*~
